{% extends 'base.html' %}

{% block content %}
    {% for product in products %}
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'detail' pk=product.pk%}"><img src="{{ product.image_url }}" alt="some" width="100%"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}